.grid-item {
  display: block;
  img {
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      transform: scale(1.02);
      -webkit-box-shadow: 0px 2px 8px 1px rgba(225, 220, 220, 0.8);
      box-shadow: 0px 2px 8px 1px rgba(225, 220, 220, 0.8);
    }
  }
}
